    # Ansible Playbook Configuration
    device.vm.provision "ansible" do |ansible|
      ansible.playbook = "{{ node["other_attributes"]["playbook"] }}"
      {% include "./Vagrantfile/ansible_groups.j2" %}
    end
