{# Additional configuration fo rthe oob-mgmt-server #}
    # Copy over DHCP files and MGMT Network Files
    device.vm.provision "file", source: "./auto_mgmt_network/dhcpd.conf", destination: "~/dhcpd.conf"
    device.vm.provision "file", source: "./auto_mgmt_network/dhcpd.hosts", destination: "~/dhcpd.hosts"
    device.vm.provision "file", source: "./auto_mgmt_network/hosts", destination: "~/hosts"
    device.vm.provision "file", source: "./auto_mgmt_network/ansible_hostfile", destination: "~/ansible_hostfile"
    device.vm.provision "file", source: "./auto_mgmt_network/ztp_oob.sh", destination: "~/ztp_oob.sh"

